# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment Variables
.env
backend/.env

# Logs
logs
*.log
npm-debug.log*

# Project specific
uploads/

# IDEs and Editors
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?